@tailwind base;
@tailwind components;
@tailwind utilities;

html, body, #root, .App {
  min-height: 100vh;
}

.custom-github-button:focus {
  box-shadow: 0 0 0 3px #00800040; /* green with opacity */
}

.custom-github-input:focus {
  box-shadow: 0 0 0 3px #0c2d6b; /* green with opacity */
  border-color: #1f6feb;
}

.flex-item {
  flex: 1 1 0px;
}

.flex-item-20 {
  flex: 1 1 20%;
}

.github-btn-sec {
  border: 1px solid rgb(55, 59, 66);
  border-radius: 6px;
  @apply bg-github-btn_sec text-github-primary;
}

.github-btn-sec:hover {
  background-color: #30363d;
  border-color: #8b949e;
  transition-duration: .1s;
}

.github-input {
  border: 1px solid #30363d;
  border-radius: 6px;
  @apply bg-github-bg text-github-primary;
}

.github-input:hover {
  border-color: #1f6feb;
  outline: none;
  box-shadow: 0 0 0 3px #0c2d6b;
}

/* 
background: #0d1117
text primary #c9d1d9
text secondary #8b949e

button green #238636
button green:hover #2ea043
button text-color white!

---

border-for rows: border-bottom: 1px solid #30363d
row-padding: 24px top bottom

*/