@tailwind base;
@tailwind components;
@tailwind utilities;

html, body, #root, .App {
  min-height: 100vh;
}

/* loader */
.spin {
  border: 4px solid #238636;
  border-top: 4px solid transparent;
}

/* components */
.btn-grey {
  @apply py-1 text-sm text-center border rounded-md bg-grey-7 text-grey-1 border-grey-5 sm:w-3/4;
}

.btn-grey:hover {
  @apply transition duration-100 border-grey-2 bg-grey-6;
}

.btn-green {
  @apply w-1/4 px-4 text-white transition duration-200 rounded-md bg-green-medium hover:bg-green-light focus:shadow-green;
}

.input-text {
  @apply w-full px-4 py-3 text-sm border border-solid rounded-md text-grey-1 border-grey-6 bg-grey-9;
}

.input-text:focus {
  @apply focus:bg-grey-8 focus:outline-none focus:border-blue-medium focus:shadow-blue;
}


/* Default tag styling */
h1, .h1 {
  @apply text-4xl font-bold text-grey-1;
}

h3, .h3 {
  @apply text-2xl text-grey-1;
}

p, .p {
  @apply text-grey-1;
}