@tailwind base;
@tailwind components;
@tailwind utilities;

html, body, #root, .App {
  min-height: 100vh;
}

.flex-item {
  flex: 1 1 0px;
}

.flex-item-20 {
  flex: 1 1 20%;
}

/* gray button */
.border-btn {
  border: 1px solid rgb(55, 59, 66);
  border-radius: 6px;
}

.border-btn:hover {
  border-color: #8b949e;
  transition-duration: .1s;
}

.github-btn-sec {
  border: 1px solid rgb(55, 59, 66);
  border-radius: 6px;
  @apply bg-github-btn_sec text-github-primary;
}

.github-btn-sec:hover {
  background-color: #30363d;
  border-color: #8b949e;
  transition-duration: .1s;
}

/* input text */
.github-input {
  border: 1px solid #30363d;
  border-radius: 6px;
  background-color: #010409;
  @apply text-github-primary;
}

.github-input:focus {
  border-color: #1f6feb;
  box-shadow: 0 0 0 3px #0c2d6b;
  @apply bg-github-bg outline-none
}

/* green button */
.github-btn-green {
  background-color: #238636;
  color: white;
  transition: 0.2s;
}

.github-btn-green:hover {
  background-color: #2ea043;
}

.github-btn-green:focus {
  box-shadow: 0 0 0 3px #00800040; /* green with opacity */
}

/* 

border-for rows: border-bottom: 1px solid #30363d
row-padding: 24px top bottom

*/

.spin {
  border: 4px solid #238636; /* Light grey */
  border-top: 4px solid transparent; /* Blue */
}



/* Default tag styling */
h1, .h1 {
  @apply text-4xl font-bold text-github-primary;
}

h3, .h3 {
  @apply text-2xl text-github-primary;
}

p, .p {
  @apply text-github-primary;
}