@tailwind base;
@tailwind components;
@tailwind utilities;

html, body, #root, .App {
  min-height: 100vh;
}

/* gray button */
.border-btn {
  @apply border border-solid border-grey-5;
}

.border-btn:hover {
  @apply border-grey-2 transition duration-100;
}

.github-btn-sec {
  @apply bg-grey-7 text-grey-1 rounded-md border border-solid border-grey-5;
}

.github-btn-sec:hover {
  @apply border-grey-2 bg-grey-6 transition duration-100;
}

/* input text */
.github-input {
  @apply text-grey-1 border border-solid border-grey-6 bg-grey-9;
}

.github-input:focus {
  @apply bg-grey-8 outline-none border-blue-medium shadow-blue;
}

/* green button */
.github-btn-green {
  @apply bg-green-medium transition duration-200 text-white;
}

.github-btn-green:hover {
  @apply bg-green-light;
}

.github-btn-green:focus {
  @apply shadow-green;
}

.spin {
  border: 4px solid #238636;
  border-top: 4px solid transparent;
}



/* Default tag styling */
h1, .h1 {
  @apply text-4xl font-bold text-grey-1;
}

h3, .h3 {
  @apply text-2xl text-grey-1;
}

p, .p {
  @apply text-grey-1;
}